.dashboard {
    .dashboard-container {
        .dash-side {
            min-height: 100vh;
            border-right: 1px solid #626262;
            background: #202123;
            .copy {
                .user {
                    border-bottom: 1px solid #343434;
                    padding: 15px;
                }
                button {
                    width: 100%;
                    color: #fff;
                    border-color: #343434;
                    border-right: 0;
                    border-left: 0;
                    border-bottom: 0;
                    border-radius: 0;
                    padding: 15px;
                }
                .input-list {
                    button.scrap {
                        background-color: #343541;
                        padding: 8px 15px;
                        margin-top: 15px;
                    }
                }
                ul {
                    max-height: 78vh;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .input-container {
                    color: #fff;
                    &:nth-child(1), &:nth-child(2) {
                        width: 47%;
                    }
                    label {
                        font-size: 13px;
                        color: #fff;
                    }
                    select, input {
                        border-radius: 40px;
                        padding: 10px 15px;
                        border-color: #bfbfbf;
                        font-size: 14px;
                    }
                }
                button {
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
        .dash-main {
            min-height: 100vh;
            background: #343541;
            p {
                color: #fff;
            }
            .ql-container.ql-snow {
                min-height: 40vh;
                border-color: #626262 !important;
            }
            .ql-toolbar.ql-snow {
                border-color: #626262 !important;
                span, svg  {
                    color: #fff;
                    fill: #fff;
                }
                polygon, path, line, polyline {
                    stroke: #fff;
                }

                span.span.ql-color.ql-picker.ql-color-picker {
                    line, polyline {
                        stroke: inherit;
                    }
                    
                }
            }

            .search-bar {
                input {
                    width: 100%;
                }
                button {
                    position: absolute;
                    right: 0;
                    border: none;
                    outline: none;
                    width: fit-content;
                    min-width: unset;
                    top: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .dashboard {
        .dashboard-container {
            .dash-side {
                width: 20%;
            }
            .dash-main {
                width: 80%;
            }
        }
    }
}