.dashboard {
    .dashboard-container {
        .dash-side {
            min-height: 100vh;
            border-right: 1px solid #626262;
            background: #202123;
            .copy {
                ul.nav {
                    li {
                        a {
                            font-size: 14px;
                            color: #fff;
                        }
                        a.active {
                            color: #495057;
                        }
                    }
                }
                .tab-content {
                    li {
                        padding: .8rem 1rem;
                        cursor: pointer;
                    }
                    li.active {
                        background-color: #353536ba;
                    }
                    ul {
                        .url-share {
                            position: relative;
                            transition: .5s ease-in-out;
                            color: inherit;
                                    text-decoration: none;
                            
                            
                            svg.share {
                                display: none;
                                position: absolute;
                                top: 13px;
                                right: 10px;
                                transition: .5s ease-in-out;
                            }
                            &:hover {
                                transition: .5s ease-in-out;
                                svg.share {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                
                .user {
                    border-bottom: 1px solid #343434;
                    padding: 15px;
                }
                button {
                    width: 100%;
                    color: #fff;
                    border-color: #343434;
                    border-right: 0;
                    border-left: 0;
                    border-bottom: 0;
                    border-radius: 0;
                    padding: 15px;
                }
                .input-list {
                    button.scrap {
                        background-color: #343541;
                        padding: 8px 15px;
                        margin-top: 15px;
                    }
                }
                ul {
                    max-height: 78vh;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .input-container {
                    color: #fff;
                    &:nth-child(1), &:nth-child(2) {
                        width: 47%;
                    }
                    label {
                        font-size: 13px;
                        color: #fff;
                    }
                    select, input {
                        border-radius: 40px;
                        padding: 10px 15px;
                        border-color: #bfbfbf;
                        font-size: 14px;
                    }
                }
                button {
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
        .dash-main {
            min-height: 100vh;
            background: #343541;
            .questions-main {
                max-height: 80vh;
                overflow-y: scroll;
                .questions {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 1.5rem;
                    input {
                        height: 20px;
                        min-height: fit-content;
                        width: 20px;
                        border-radius: 3px;
                        margin-top: 35px;
                        cursor: pointer;
                    }
                    .question-text {
                        width: calc(100% - 30px);
                        label {
                            color: #fff;
                        }
                        p {
                            margin-bottom: 0;
                            color: #cbcbcb;
                        }
                    }
                }
                .questions.no-data {
                    min-height: 80vh;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    .question-text {
                        label {
                            text-align: center;
                            font-size: 3vw;
                            color: #6e6e6e;
                        }
                    }
                }
                .empty {
                    height: 100%;
                    min-height: 80vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    h1 {
                        color: #b5b5b5;
                        font-size: 4vw;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 1.5vw;
                    }
                }
            }
            .questions-main.scroll {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            p {
                color: #fff;
            }
            .ql-container.ql-snow {
                min-height: 40vh;
                max-height: 50vh;
                border-color: #626262 !important;
                ul, ol {
                    li {
                        &::before {
                            color: #fff;
                        }
                    }
                }
            }
            .ql-toolbar.ql-snow {
                border-color: #626262 !important;
                span.ql-formats:not(:nth-child(5)) {
                    span, svg  {
                        color: #fff;
                        fill: #fff;
                    }
                    polygon, path, line, polyline {
                        stroke: #fff;
                    }
    
                    span.span.ql-color.ql-picker.ql-color-picker {
                        line, polyline {
                            stroke: inherit;
                        }
                        
                    }
                    .ql-picker-options {
                        span {
                            color: initial;
                        }
                    }
                }
                span.ql-formats:nth-child(5) {
                    span.ql-picker {
                        span.ql-picker-label {
                            svg, line {
                                stroke: #fff;
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            .save-content {
                button {
                    background-color: #fff;
                    padding: 8px 15px;
                    margin-top: 15px;
                    border: 1px solid #6c6c6c;
                    box-shadow: none;
                    color: #202123;
                    border-radius: 3px;
                }
            }

            .search-bar {
                input {
                    width: 100%;
                }
                button {
                    position: absolute;
                    right: 0;
                    border: none;
                    outline: none;
                    width: fit-content;
                    min-width: unset;
                    top: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .dashboard {
        .dashboard-container {
            .dash-side {
                width: 25%;
            }
            .dash-main {
                width: 75%;
            }
        }
    }
}